 .container{
   width:100%;
   height:100%;
   background-color:white;
 }
// @media screen and (max-width:300px){
// table{
//   margin:auto;
//   margin-top: 10px;
//   width:95%;
//   height:90%;
//   border: 1px solid #cbced0;
//   background-color:white;
//     th{
//       border: 1px solid #cbced0;
//       font-size: 17px;
//       width:40px;
//       background-color:#FF6B59;
//     }

//     td{
//       background-color:#3AABD2;
//     }
//     .jobad_introduction{
//       border: 1px solid #cbced0;
//       font-size: 17px;
//       // width:320px;
//       height:90%;
//       color:white;
//     }
// }

 html{
  background-color:white;
 }