.container
  .jobad
    - @jobads.each do |jobad|
      %table
        %tbody
          %tr
            %th 求人
            %td
              .jobad_name
                = jobad.name
          %tr
            %th 求人情報
            %td
              .jobad_introduction
                = jobad.introduction